#
# Configuration for ovpn-tracker
#

mode: remote
repeat_time: 60
log_level: 0

#
# Remote OVPN (running management)
#
remote_host: p4pn.net:5555
remote_host: pastushkov.com:5555

#
# Local data source (status log)
#
status_log: sample-data/status.log

#
# MySQL
#
db_host: localhost
db_user: root
db_pass:
db_schema: p4pn

#
# GeoIP (optional)
#
geoip: on
geoip_data: /usr/share/GeoIP/GeoIPCity.dat

#
# Limits
#
daily_limit_mib: 1024

