[Unit]
Description=openvpn server tracker

[Service]
User=root
WorkingDirectory=/home/ubuntu/ovpn-tracker
ExecStart=/home/ubuntu/ovpn-tracker/ovpn-tracker
Restart=always

[Install]
WantedBy=multi-user.target
